/*
Authors : Anupam Mallick
Website : 
App Name : Agro Web App
Created : 20-Nov-2021
*/
.header-top{
  top: 0px;
  background-color:#45C261;
  color: white;
  width: 100%;
  z-index: 999;
  .tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 15px;
    a{
      text-align: center;
      color:white;
      font-size: 10px;
    }
    .social{
      position: relative;
      .cartTotal{
        position: absolute;
        top: -5px;
        height: 15px;
        width: 15px;
        background: #f27474;
        border-radius: 50%;
        line-height: 15px;
        color: white;
        font-size: 10px;
        left: 10px;
      }
    }
    .normalFont{
      font-size: 10px;
      font-weight: normal;
    }
    .cleanBtn{
      box-shadow: none;
      line-height: 0px;
      color: white;
      width: max-content;
      min-width: max-content;
    }
    .cleanBtn2{
      box-shadow: none;
      line-height: 0px;
      color: white;
      width: max-content;
      min-width: max-content;
    }
    .activeCity{
      background: #45C261;
      color: white;
      padding: 10px;
    }
    .normalCity{
      background: white;
      color: #45C261;
      padding: 10px;
    }
  }
}
