/*
Authors : Anupam Mallick
Website : 
App Name : Agro Web App
Created : 20-Nov-2021
*/
.searchText{
  width: 100%;
  border: 1px solid #f3f3f3;
  padding: 6px;
  // border-radius: 5px;
}
.stack-top{
  z-index: 9999;
  position: absolute;
  width: 100%;
  .searchItem{
    background: white;
    color: black;
    p{
      padding: 10px;
      margin: 0px;
      border-bottom: 1px solid lightgray;
      color: gray;
      cursor: pointer;
    }
    .imgs{
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }
  }

}
